# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ScalaProject\demo-fileSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
